<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-toast></p-toast>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">

            <p-table #dt1 [columns]="cols" [paginator]="true" [rows]="50" [lazy]="true" (onLazyLoad)="loadAbastecimentoLazy($event)"
                [totalRecords]="totalRecords" [scrollable]="true" [rowsPerPageOptions]=[50,100,200,500,1000] scrollHeight="380px"
                [value]="abastecimentos" [loading]="loading">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:10em">
                    <col style="width:10em">
                    <col style="width:10em">
                    <col style="width:10em">
                    <col style="width:10em">
                    <col style="width:10em">
                    <col style="width:10em">
                    <col style="width:10em">
                    <col style="width:10em">
                    <col style="width:4.5em">
                    <col style="width:4.5em">
                    <col style="width:4.5em">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field" pResizableColumn>
                                {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                        <th colspan="3" rowspan="2">
                            Ações
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns"[ngSwitch]="col.field">
                            <p-multiSelect *ngSwitchCase="'veiculo'" appendTo="body" [options]="listVeiculos" defaultLabel="Veiculos" (onChange)="dt1.filter($event.value, 'veiculos', 'in')"></p-multiSelect>
                            <p-inputMask #maskDateDe *ngSwitchCase="'dataAbastecimento'" placeholder="Início" mask="99/99/9999 00:00" (onBlur)="dt1.filter(maskDateDe.value, 'abastecimentoDateMin', 'gt')"></p-inputMask>
                            <p-inputMask #maskDateAte *ngSwitchCase="'dataAbastecimento'" placeholder="Fim" mask="99/99/9999 00:00" (onBlur)="dt1.filter(maskDateAte.value, 'abastecimentoDateMax', 'lt')"></p-inputMask>
                            <p-multiSelect *ngSwitchCase="'posto'" appendTo="body" [options]="listPosto" defaultLabel="Posto" (onChange)="dt1.filter($event.value, 'postos', 'in')"></p-multiSelect>
                            <p-multiSelect *ngSwitchCase="'tipoCombustivel'" appendTo="body" [options]="listaTipoCombustivel" defaultLabel="Tipo Comb" (onChange)="dt1.filter($event.value, 'tipoCombustivel', 'in')"></p-multiSelect>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>{{rowData.veiculo.placa}}</td>
                        <td>{{rowData.dataAbastecimento}}</td>
                        <td>{{rowData.posto.nome}}</td>
                        <td>{{rowData.tipoCombustivel}}</td>
                        <td>{{rowData.hodometro}}</td>
                        <td>{{rowData.quantidadeLitro}}</td>
                        <td>{{rowData.valorLitro | valorBr: 'valorBr'}}</td>
                        <td>{{rowData.valorTotal | valorBr: 'valorBr' }}</td>
                        <td>{{rowData.consumoMedio | number}}</td>
                        <td>
                            <button pButton type="button" class="ui-button-primary" (click)="onUpdateConsumo(rowData)" pTooltip="Atualizar Consumo" icon="fa fa-refresh"></button>
                        </td>
                        <td>
                            <button pButton type="button" class="ui-button-warning" (click)="onChangeAbastecimento(rowData)" pTooltip="Alteração" icon="fa fa-pencil"></button>
                        </td>
                        <td>
                            <button pButton type="button" class="ui-button-danger" (click)="onRemoveAbastecimento(rowData)" pTooltip="Remover" icon="fa fa-trash"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">Abastecimento não encontrada</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" let-rowData let-columns="columns">
                    <tr>
                        <td colspan="7">Total: {{abastecimentos?.length}}</td>
                        <td colspan="1">R$ {{valorTotalSomaCombustivel | valorBr: 'valorBr'}}</td>
                        <td colspan="4">{{(mediaTotalAbastecimento / abastecimentos?.length) | number}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
