
<p-growl [value]="showErr" [life]="10000"></p-growl>
<form [formGroup]="loginForm" (ngSubmit)="login()">

    <div id="login-wrapper">
        <img src="../../../assets/layout/images/login-logo.png">

        <div id="login-container">
            <span class="title">EDFER</span>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <input formControlName="username"
                    type="text" autocomplete="off"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                    placeholder="E-mail" />
                </div>
                <div class="ui-g-12">
                    <input formControlName="password"
                    type="password" autocomplete="off"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                    placeholder="Senha" />
                </div>
                <div class="ui-g-12">
                    <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                        <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                        <span class="ui-button-text ui-c" style="background: coral">Login</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="login-footer" style="color: coral">EDFER COMERCIO DE FERRO E AÇO S/A</div>
    </div>
</form>

